{% extends 'basic.html' %}
{% load static %}
{% block body %}
    <br>
    <h1 style="text-align: center;">Book Shashank ka Hostel </h1>
    <hr><hr>
    <section class="container">
        <form action="booking?id={{pg.pid}}" method="post" class="form booking">
        {% csrf_token %}
                <input type="text" required placeholder="First name" name="fname">
                <input type="text" required placeholder="last name name" name="lname">
            <input type="email" required placeholder="Enter the Email" name="email">
            <input type="tel" required placeholder="Enter the phone" name="phone">
            <div class="row">
                <h3>Time period:</h3>
                <select name="timeperiod" id="timeperiod">
                    <option value="1 year">1 year</option>
                    <option value="2 year">2 year</option>
                    <option value="Short period">Short period</option>
                </select>
            </div>
            <div class="row">
                <h3>You are:</h3>
                <select name="for" id="for">
                    <option value="Student">Student</option>
                    <option value="Bachelor">Bachelor</option>
                </select>
            </div>
            <div class="row">
                <h3>food:</h3>
                <select name="food" id="food">
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Non-Vegetarian">Non-Vegetarian</option>
                </select>
            </div>
            <div class="row">
                <h3>Date of birth :</h3>
                <input type="date" required>
            </div>
            <button class="btn">Book !</button>
        </form>
    </section>
{% endblock body %}