.home{
    background: url('../home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    background-attachment: fixed;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.home h2{
    height: 0;
    width: 0;
    overflow: hidden;
    transition: all 1s;
    font-size: 30px;
}

/**services section*/

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 15px;
    padding: 1%;
    border: 2px solid;
    margin: 1%;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.card-img img{
    height: 200px;
    width: 200px;
}
.card-content{
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.card-content-head{
    font-size: 25px;
    font-weight: 700;
}
.card-content-body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reverse{
    flex-direction: row-reverse;
}

/*user*/

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid;
    margin-top: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1%;
    transition: all 1s;
    opacity: 1;
}

.form input,.form textarea,.form select{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    border: none;
    box-shadow: 4px 4px 10px black;
    font-size: 20px;
}


.row{
    display: flex;
    background-color: grey;
    width: 98%;
    border-radius: 8px;
    padding: 1%;

}
.form-btn{
    font-size: 30px;
    outline: none;
    padding: 5px;
    border: none;
    border-radius: 8px;
    color: black;
    margin: 1%;
}

.selected-form{
    box-shadow: inset 4px 4px 20px black,inset 4px 4px 10px black;
}

.btn{
    font-size: 20px;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(42, 78, 133);
    margin: 2%;
}

/*About*/
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about .container{
    flex-direction: row;
    flex-wrap: wrap;
}
.about .card{
    flex-direction: column;
    width: 400px;
    border: none;
    box-shadow: 4px 4px 10px black;
    background-color: rgb(151, 142, 142);
    text-align: center;
}

/* footer*/
footer{
    background-color: black;
    color: white;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a{
    margin: 10px;
}
.social a img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.social img:hover{
    filter: invert(1);
    box-shadow: inset 4px 4px 10px black ;
}