@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
    background: black;
    position: sticky;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: all 1s;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10%;
}

.logo img{
    width: 100px;
    height: 80px;
    border-radius: 60%;
    filter: invert(1);
    background-color: rgb(171, 183, 184);
    border: 2px solid;
}

.navlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: max-content;
    transition: all 1s;
}

.navlist li{
    margin: 20px;
}
.navlist a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 8px;
    border-radius: 8px;
    transition: 1s;
}

.navlist a:hover{
    background-color: white;
    color: black;
}



